<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecommerce.mapper.SearchLogMapper">

    <select id="selectRecentByKeyword" resultType="com.ecommerce.entity.SearchLog">
        SELECT id, keyword, user_id, create_time
        FROM search_log
        WHERE keyword = #{keyword}
        ORDER BY create_time DESC
    </select>

</mapper>
